<h2>Reenvio de informações para confirmação</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs col-md-9">
    <%= f.input :email, required: true, autofocus: true, class: 'form-control' %>
    <%= f.button :submit, "Reenviar Confirmação", class: 'btn btn-primary' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
