<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-md-9">
    <%= f.input :nome, required: true, autofocus: true, class: 'form-control', placeholder: "Nome Completo" %>
    <%= f.input :email, required: true, autofocus: true, class: "form-control", placeholder: "Email" %>
    <%= f.input :cpf, required: true, autofocus: true, class: 'form-control', placeholder: "CPF" %>
    <%= f.input :endereco, required: true, autofocus: true, class: 'form-control', placeholder: "Endereço Completo" %>
    <%= f.input :telefone, required: true, autofocus: true, class: 'form-control', placeholder: "Telefone" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: "Senha", autocomplete: "off", hint: "Caso não queira trocar, deixe em branco", class: 'form-control', required: false %>
    <%= f.input :password_confirmation, label: "Confirmar Senha", class: 'form-control', required: false %>
    <%= f.input :current_password, class: 'form-control', hint: "Senha atual para confirmar alterações", required: true %>
    <%= f.button :submit, "Atualizar", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancelar minha contar</h3>

<p><%= link_to "Cancelar a conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
