<h2>Cadastro Nova Conta</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-md-9">
    <%= f.input :nome, required: true, autofocus: true, class: 'form-control', placeholder: "Nome Completo" %>
    <%= f.input :email, required: true, autofocus: true, class: 'form-control', placeholder: "Email válido para envio de notas fiscais" %>
    <%= f.input :cpf, label: "CPF", required: true, autofocus: true, html_input: { class: 'form-control' }, 'data-mask' => "000.000.000-00", placeholder: "CPF" %>
    <%= f.input :endereco, required: true, autofocus: true, class: 'form-control', placeholder: "Endereço Completo" %>
    <%= f.input :telefone, required: true, autofocus: true, class: 'form-control', placeholder: "Telefone" %>
    <%= f.input :password, label: "Senha", required: true, hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length), class: 'form-control' %>
    <%= f.input :password_confirmation, label: "Confirmação de Senha", required: true, class: 'form-control' %>
    <%= f.input :perfil_id, as: :hidden, input_html: { value: 1 } %>
    <%= f.button :submit, "Cadastrar", class: 'btn btn-primary' %><br>
    <%= render "devise/shared/links" %>
  </div>

<% end %>
