= simple_form_for(current_user) do |f|
  = f.input :nome, required: true, autofocus: true, class: 'form-control', placeholder: "Nome Completo"
  = f.input :email, required: true, autofocus: true, class: 'form-control', placeholder: "Email válido para envio de notas fiscais"
  = f.input :cpf, required: true, autofocus: true, class: 'form-control', placeholder: "CPF", id: 'cpf_form'
  = f.input :endereco, required: true, autofocus: true, class: 'form-control', placeholder: "Endereço Completo"
  = f.input :telefone, required: true, autofocus: true, class: 'form-control', placeholder: "Telefone"
  = f.input :password, label: "Senha", required: true, hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length), class: 'form-control'
  = f.input :password_confirmation, label: "Confirmação de Senha", required: true, class: 'form-control'
  = f.button :submit, "Atualizar", class: 'btn btn-primary pull-right'
