%script{:src => "//maps.google.com/maps/api/js?v=3.23&key=[AIzaSyDuZmkbI2O9bpbBcR5RZXfquilvfvr_fHw]"}
#%script{:src => "//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=&libraries=geometry&language=&hl=®ion=" }
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
/ only if you need custom infoboxes

%h1 Painel de Controle Itaboraí Rotativo

%h5
  Bem vindo
  = @user.nome
  = link_to "Minhas Informações", user_path(current_user), class: "pull-right"

%hr

.row-fluid
  .wrapper
    %p
      %h4 Bilhetes Não Finalizados
      %br
      - if @bilhetes_nao_finalizados.count == 0
        Você não possui bilhetes que não foram finalizados
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Compra
              %th Valor
              %th Setor
              %th Períodos
              %th Gerar seu bilhete
          - @bilhetes_nao_finalizados.each do |bilhete|
            %tbody
              %tr
                %td= bilhete.transaction_id
                %td= number_to_currency(bilhete.valor_bilhete, separator: ",", delimiter: ".", unit: "R$ ")
                %td
                  - if bilhete.setor_id == 1
                    Azul
                  - else
                    Verde
                %td
                  = bilhete.periodo
                  período(s) comprado(s)
                %td
                  = link_to "Gerar Bilhete", edit_user_bilhete_path(current_user, bilhete)

        .flickr_pagination
          = will_paginate @bilhetes_nao_finalizados

      %hr

    %p
      %h4 Bilhetes Ativos
      %br
      - if @bilhetes_ativos.count == 0
        Você não possui bilhetes ativos
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Bilhete
              %th Setor
              %th Placa do Veículo
              %th Periodos
              %th Ativado em
              %th Renovar

          - @bilhetes_ativos.each do |bilhete|
            %tbody
              %tr
                %td= bilhete.bilhete
                %td= Setor.find(bilhete.setor_id).cor
                %td= bilhete.placa_veiculo
                %td
                  = bilhete.periodo
                  período(s) comprado(s)
                %td= time_tag bilhete.ativado_em
                %td= link_to "Renovar", renovar_bilhete_path(bilhete), class: 'btn btn-success' if bilhete.periodo == 1

        .flickr_pagination
          = will_paginate @bilhetes_ativos

      %hr

    %p
      %h4 Bilhetes Pendentes
      %br
      - if @bilhetes_pendentes.count == 0
        Você não possui bilhetes inativos esperando ativação
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Bilhete
              %th Setor
              %th Placa do Veículo
              %th Periodos
              %th Ativar

          - @bilhetes_pendentes.each do |bilhete|
            %tbody
              %tr
                %td= bilhete.bilhete
                %td= Setor.find(bilhete.setor_id).cor
                %td= bilhete.placa_veiculo
                %td
                  = bilhete.periodo
                  período(s) comprado(s)
                %td= link_to "Ativar", ativar_bilhete_path(bilhete), class: 'btn btn-primary'

        .flickr_pagination
          = will_paginate @bilhetes_pendentes

      %hr

    %p
      %h4 Meus Veiculos
      - if current_user.veiculos.count == 0
        Você não possui veiculos cadastrados
      - else
        %table.table.table-striped
          %thead
            %th Modelo
            %th Placa
            - @veiculos.each do |veiculo|
              %tr
                %td
                  = link_to veiculo.modelo, veiculo
                %td
                  = veiculo.placa_veiculo.upcase

      %p
        = link_to "Cadastrar Veículo", new_veiculo_path
      %hr

    %p
      %h4 Históricos de Compras(Bilhetes Finalizados)
      %br
      - if @bilhetes_finalizados.count == 0
        Você não possui histórico com bilhetes finalizados
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Bilhete
              %th Setor
              %th Placa do Veículo
              %th Periodos
              %th Finalizado
          - @bilhetes_finalizados.each do |bilhete|
            %tbody
              %tr
                %td= bilhete.bilhete
                %td= Setor.find(bilhete.setor_id).cor
                %td= bilhete.placa_veiculo
                %td
                  = bilhete.periodo
                  período(s) comprado(s)
                %td= time_tag bilhete.updated_at

        .flickr_pagination
          = will_paginate @bilhetes_finalizados
      %hr
    %p
      %h4 Comprar Novo Bilhete
      = link_to 'Novo Bilhete', new_user_order_path(current_user), class: 'btn btn-primary'
      %hr
    %p
      %h4 Mapa com a localização dos estacionamentos
      %div{:style => "width: 800px;"}
        #map{:style => "width: 800px; height: 400px;"}
      :javascript
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(#{raw @hash.to_json});
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      %br
      %br
      %br
