%h2
  Dados do veículo:
  = @veiculo.modelo

%hr
%br

%h4
  %p
    Tipo:
    = @veiculo.tipo

  %p
    Modelo:
    = @veiculo.modelo

  %p
    Placa:
    = @veiculo.placa_veiculo.upcase

  %p
    Cor:
    = @veiculo.cor

= link_to "Lista dos seus veiculos", veiculos_path, class: 'btn btn-primary pull-right'
