= simple_form_for([current_user, @bilhete]) do |f|
  = f.input :placa_veiculo, label: "Placa do Veículo", hint: "#{link_to 'Cadastrar Veiculo', new_veiculo_path, target: "_blank"}".html_safe, collection: current_user.veiculos, label_method: :modelo, value_method: :placa_veiculo, require: true, include_blank: false, prompt: "Selecione seu veículo"
  = f.input :setor_id, as: :hidden, input_html: { value: @order.setor_id }
  = f.input :periodo, as: :hidden, input_html: { value: @order.periodo }
  = f.input :vendido_por, as: :hidden, input_html: { value: 1 }
  = f.input :status, as: :hidden, input_html: { value: 0 }
  = f.input :ativado_em, as: :hidden, input_html: { value: Time.current }
  = f.input :gerado, as: :hidden, input_html: { value: true }
  = f.submit "Gerar Bilhete", class: "btn btn-primary pull-right"
