!!!
%html
%head
  %title Itaboraí Rotativo
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  %header.navbar.navbar-default{:role => "navigation"}
    .navbar-inner
      .container
        #logo.navbar-brand= link_to "ITABORAÍ ROTATIVO", root_path
        %nav.collapse.navbar-collapse.navbar-ex1-collapse
          - if user_signed_in?
            %ul
              .nav.navbar-nav.navbar-right
                %li
                  - if current_user.perfil_id == 1
                    = link_to "Novo Bilhete", new_user_bilhete_path(current_user)
                  - else
                    %li= link_to "Novo Bilhete", new_user_bilhetepv_path(current_user)
                    /%li= link_to "Relatórios", user_bilhetepvs_path
                    %li.dropdown
                      %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                        Relatórios
                        %span.caret
                      %ul.dropdown-menu
                        %li= link_to "Relatório Geral de Vendas", listar_venda_geral_path
                        %li= link_to "Relatório de Vendas a Dinheiro", listar_venda_dinheiro_path
                        %li= link_to "Relatório de Vendas com Cartão de Crédito", listar_venda_credito_path
                        %li= link_to "Relatório de Vendas com Cartão de Débito", listar_venda_debito_path
                    %li.dropdown
                      %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                        Bilhetes
                        %span.caret
                      %ul.dropdown-menu
                        %li= link_to "Bilhetes Ativos", listar_bilhetes_path
                        %li= link_to "Bilhetes Renováveis", listar_bilhetes_renovaveis_path

                %li
                  = link_to "Sair do Sistema", destroy_user_session_path, method: :delete
          - else
            %ul
              .nav.navbar-nav.pull-right
                %li
                  = link_to "Entrar", new_user_session_path
                %li
                  = link_to "Cadastrar", new_user_registration_path

  .container
    = yield
